{% extends 'base.html' %}
{% block title %}{% translate "Faturalar" %}{% endblock %}
{% block region_attr %} data-ajax-region{% endblock %}

{% block cp_buttons %}
  <a href="{% url 'finance-report' %}" class="o-btn">
    <i class="bi bi-graph-up-arrow" aria-hidden="true"></i> {% translate "Kârlılık" %}
  </a>
{% endblock %}
{% block cp_pager %}{% ui_pager page_obj %}{% endblock %}
{% block cp_views %}{% ui_view_switcher "list,kanban" current=view %}{% endblock %}
{% block cp_search %}
  <div class="o-cp-search-row">
    {% translate "Fatura ara" as ph %}
    {% ui_search target="#o-view" placeholder=ph filters=status_choices filter_param="status" selected=selected_status %}
  </div>
{% endblock %}

{% block content %}
  <div class="o-button-box o-po-kpis">
    {% translate "Ödenmemiş" as l1 %}{% ui_stat value=unpaid_count label=l1 icon="bi-exclamation-circle" variant="danger" %}
    {% translate "Ödenmiş" as l2 %}{% ui_stat value=paid_count label=l2 icon="bi-check2-circle" variant="success" %}
  </div>
  {% include view_template %}
{% endblock %}
