POSTGRES_DB=projectdb
POSTGRES_USER=projectuser
POSTGRES_PASSWORD=guclu_ve_ozgun_bir_sifre_yaz

DJANGO_SECRET_KEY=guclu_ve_rastgele_bir_deger_yaz
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=185.22.187.18,localhost,127.0.0.1

REDIS_URL=redis://redis:6379/0

OPENAI_API_KEY=sk-...
