{% extends 'base.html' %}
{% block title %}{% translate "Üretim Emirleri" %}{% endblock %}
{% block region_attr %} data-ajax-region{% endblock %}

{% block cp_buttons %}
  <a href="{% url 'production-batch-create' %}" class="o-btn o-btn--primary">
    <i class="bi bi-plus-lg" aria-hidden="true"></i> {% translate "Yeni" %}
  </a>
  <a href="{% url 'production-recipes' %}" class="o-btn">
    <i class="bi bi-journal-text" aria-hidden="true"></i> {% translate "Reçeteler" %}
  </a>
{% endblock %}

{% block cp_pager %}{% ui_pager page_obj %}{% endblock %}
{% block cp_views %}{% ui_view_switcher "list,kanban" current=view %}{% endblock %}

{% block content %}
  <div class="o-button-box o-po-kpis">
    {% translate "Üretim emri" as l1 %}{% ui_stat value=batch_count label=l1 icon="bi-thermometer-high" %}
    {% translate "Kalite kontrolü bekleyen" as l2 %}{% ui_stat value=pending_qc label=l2 icon="bi-hourglass-split" variant="warning" %}
    {% translate "Reçete" as l3 %}{% ui_stat value=recipe_count label=l3 icon="bi-journal-text" %}
  </div>
  {% include view_template %}
{% endblock %}
