{% extends 'base.html' %}
{% block title %}{% translate "Siparişler" %}{% endblock %}
{% block region_attr %} data-ajax-region{% endblock %}

{% block cp_buttons %}
  <a href="{% url 'purchase-order-create' %}" class="o-btn o-btn--primary">
    <i class="bi bi-plus-lg" aria-hidden="true"></i> {% translate "Yeni" %}
  </a>
  <a href="{% url 'supplier-list' %}" class="o-btn">
    <i class="bi bi-truck" aria-hidden="true"></i> {% translate "Tedarikçiler" %}
  </a>
{% endblock %}

{% block cp_pager %}{% ui_pager page_obj %}{% endblock %}
{% block cp_views %}{% ui_view_switcher "list,kanban" current=view %}{% endblock %}

{% block cp_search %}
  <div class="o-cp-search-row">
    {% translate "Sipariş no, tedarikçi veya not ara" as ph %}
    {% ui_search target="#o-view" placeholder=ph filters=status_choices filter_param="status" selected=selected_status %}
  </div>
{% endblock %}

{% block content %}
  <div class="o-button-box o-po-kpis">
    {% translate "Açık sipariş" as l1 %}{% ui_stat value=open_order_count label=l1 icon="bi-cart-check" %}
    {% translate "Teslimat bekleyen" as l2 %}{% ui_stat value=awaiting_delivery_count label=l2 icon="bi-box-seam" %}
    {% translate "Geciken teslimat" as l3 %}{% ui_stat value=overdue_count label=l3 icon="bi-exclamation-triangle" variant="danger" %}
  </div>

  {% include view_template %}
{% endblock %}
