{% extends 'base.html' %}
{% block title %}{% translate "İzinler" %}{% endblock %}
{% block region_attr %} data-ajax-region{% endblock %}

{% block cp_buttons %}
  <a href="{% url 'leave-request-create' %}" class="o-btn o-btn--primary">
    <i class="bi bi-plus-lg" aria-hidden="true"></i> {% translate "Yeni" %}
  </a>
{% endblock %}

{% block cp_pager %}{% ui_pager page_obj %}{% endblock %}
{% block cp_views %}{% ui_view_switcher "list,calendar" current=view %}{% endblock %}

{% block cp_search %}
  <div class="o-cp-search-row">
    {% translate "İzin ara" as ph %}
    {% ui_search target="#o-view" placeholder=ph filters=status_choices filter_param="status" selected=selected_status %}
  </div>
{% endblock %}

{% block content %}
  <div class="o-button-box o-po-kpis">
    {% translate "Bekleyen izin" as l1 %}{% ui_stat value=pending_count label=l1 icon="bi-hourglass-split" variant="warning" %}
  </div>
  {% include view_template %}
{% endblock %}
