{% extends 'base.html' %}
{% block title %}{% translate "İşe Alım" %}{% endblock %}

{% block cp_buttons %}
  <a href="{% url 'job-opening-create' %}" class="o-btn o-btn--primary">
    <i class="bi bi-plus-lg" aria-hidden="true"></i> {% translate "Pozisyon" %}
  </a>
  <a href="{% url 'candidate-create' %}" class="o-btn">
    <i class="bi bi-person-plus" aria-hidden="true"></i> {% translate "Aday" %}
  </a>
  <a href="{% url 'application-create' %}" class="o-btn">
    <i class="bi bi-file-earmark-text" aria-hidden="true"></i> {% translate "Başvuru" %}
  </a>
{% endblock %}

{% block cp_views %}{% ui_view_switcher "kanban,list" current=view %}{% endblock %}

{% block cp_search %}
  {% ui_filter_chips choices=dept_choices param="department" selected=selected_dept %}
{% endblock %}

{% block content %}
  <div class="o-button-box o-po-kpis">
    {% translate "Açık pozisyon" as l1 %}{% ui_stat value=open_count label=l1 icon="bi-briefcase" %}
    {% translate "Aday" as l2 %}{% ui_stat value=candidate_count label=l2 icon="bi-people" %}
    {% translate "Aktif başvuru" as l3 %}{% ui_stat value=application_count label=l3 icon="bi-file-earmark-text" %}
  </div>
  {% include view_template %}
{% endblock %}
